workflows/i3YMeDfAGJxMO474.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-22T08:56:40.889Z",
  "id": "i3YMeDfAGJxMO474",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "file",
        "formDescription": "file",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -440,
        -40
      ],
      "id": "b167f30c-704d-47d4-88ec-53399584902f",
      "name": "On form submission",
      "webhookId": "63b59800-60ee-4ddc-8745-af7840f699d4",
      "credentials": {
        "httpBasicAuth": {
          "id": "jagLX9rW1t9cVLvY",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "coolify-n8n",
          "mode": "list",
          "cachedResultName": "coolify-n8n"
        },
        "options": {
          "pineconeNamespace": "=Python Program "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -220,
        -40
      ],
      "id": "149a4057-9b9f-4f3a-9184-26c016ee63b2",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "RWmdH8X0LYpv17nq",
          "name": "coolify-n8n"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        160
      ],
      "id": "6ffec215-ce59-4954-a659-14257764989a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Y4V1K8L0LMX2mnTs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.file.filename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -80,
        160
      ],
      "id": "ef758878-a0d5-4e52-a1bc-3cfc2ab25c70",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        20,
        380
      ],
      "id": "2aa1fb7e-88a4-46aa-91a1-7166f1f7cd82",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-22T09:31:57.598Z",
  "versionId": "b34fd1ed-3e1d-4784-aa33-6e617dcd9054"
}